.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.txtTable {
  word-break: break-all;
}


/*circular progress*/
.loadingContainer{
  position: absolute; z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loadingBlock {display: flex; height: 100%;  align-items: center;  justify-content: center; position: relative; z-index: 999999;}
